* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    color: rebeccapurple;
}

thead {
    background-color: plum;
    vertical-align: middle;
}

table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
}

td {
    border-top: 1px solid darkorchid;
}

.style {
    background-color: beige;
    font-family: monospace;
}

body {
    background-color: gainsboro;
}